#settings {
   position: absolute;
   inset: 0;

   background-color: var(--col-orange-700);

   z-index: 10;
   visibility: hidden;
}

#settings header {
   position: relative;
   padding: 10px 0;
   border-bottom: 1px solid var(--col-dirty-brown);
}

#settings header h1 {
   margin: 0;
   text-align: center;
   font-family: 'Arial-Rounded-Bold';
}

#close-settings-btn {
   position: absolute;
   right: 10px;
   top: 50%;
   translate: 0 -50%;

   display: flex;
   align-items: center;
   justify-content: center;

   background-color: inherit;
   border: none;
}

#settings section {
   padding: 10px;
}

#settings section h3 {
   margin: 4px 0;
   font-size: 1.8rem;
   font-family: 'Arial-Rounded-Bold';
   color: var(--col-blue-900)
}

#timer-settings ul {
   display: flex;
   gap: 10px;

   padding: 0;
   margin: 0;
}

#preferences-settings ul {
   margin-top: 5px;
   display: flex;
   flex-direction: column;
   gap: 2px;
}

#timer-settings ul li input {
   width: 6.5rem;

   border: none;
   padding: 6px 6px;

   background-color: var(--col-soft-sand);
   font-size: 1.6rem
}

#timer-settings-list ul li input:focus {
   outline: none;
   border: none;
}

.settings-item-title {
   margin: 2px 0;

   font-size: 1.4rem;
   font-style: bold;
   font-family: 'Arial-Rounded-Bold';

   color: var(--col-orange-900);
}

.preferences-item {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;
}

.preferences-item label {
   position: relative;
}

.preferences-item label input[type="checkbox"] {
   height: 28px;
   width: 52px;
   border-radius: 72px;
   border-style: none;

   margin: 0;
   background-color: var(--col-soft-sand);

   appearance: none;
   cursor: pointer;
}

.preferences-item label input[type="checkbox"],
.preferences-item label input[type="checkbox"]::after {
   transition: all 100ms ease-out;
}

.preferences-item label input[type="checkbox"]::after {
   position: absolute;
   left: calc(0% + 3.5px);
   top: 50%;
   translate: 0 calc(-50% - 1px);

   width: 22px;
   height: 22px;

   border-radius: 100%;
   background-color: #fff;
   content: "";
}

.preferences-item label input[type="checkbox"]:checked::after {
   background-color: #fff;
   left: auto;
   right: calc(0% + 4px);
}
