@import url('timer.css');
@import url('settings.css');
@import url('tasks.css');

@font-face {
   font-family: 'Arial-Rounded';
   src: url(../../public/Arial_Rounded_MT.ttf);
   font-weight: normal;
}

@font-face {
   font-family: 'Arial-Rounded-Bold';
   src: url(../../public/Arial-Rounded-MT-Bold.ttf);
   font-weight: bold;
}

:root {
   --col-orange-700: #EC7357;
   --col-orange-900: #96351E;
   --col-orange-100: #F2B37F;
   --col-soft-sand: #FDD692;
   --col-dirty-brown: #754F44;
   --col-blue-900: #272C3F;
}

* {
   box-sizing: border-box;
   min-width: 0;
}

html {
   font-size: 10px;
   font-family: 'Arial-Rounded';
}

body {
   margin: 0;
   min-height: 100dvh;
   background-color: var(--col-orange-700);
}

h1,
h2,
h3,
h4 {
   text-wrap: balance;
}

p {
   text-wrap: pretty;
   margin: 0;
}

ul,
ol {
   padding: 0;
   list-style: none;
   margin: 0;
}

button {
   cursor: pointer;
}

button:focus {
   outline: none;
   cursor: pointer;
}

input:focus {
   outline: none;
}

main {
   width: 100vw;
   height: 100vh;

   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   gap: 10px;

   padding: 8px;
}

#main-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   gap: 10px;

   width: 100%;

   padding: 12px 0;
   border-radius: 4px;

   background-color: var(--col-soft-sand);
}

#app-header {
   display: flex;
   flex-direction: row-reverse;
   width: 100%;
}

#settings-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3px;

   width: min-content;
   padding: 6px 5px;
   border: none;
   border-radius: 4px;

   background-color: var(--col-dirty-brown);

   font-size: 1.4rem;
   color: #ffffff;
}
