#timer {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;

   font-family: 'Arial-Rounded-Bold';
   font-size: 3.2rem;
   font-weight: bold;
   color: var(--col-blue-900);
}

#timer-legend {
   height: 1.7rem;

   font-size: 1.7rem;
   font-weight: bold;
   color: var(--col-blue-900)
}

div:has(#start-timer-button, #reset-timer-button) {
   display: flex;
   flex-direction: column;
   gap: 6px;
}

#start-timer-button {
   width: 15rem;
   padding: 10px 0;

   border: none;
   border-radius: 4px;

   background-color: var(--col-orange-700);

   font-family: 'Arial-Rounded-Bold';
   font-size: 1.8rem;
   font-weight: bold;
   color: var(--col-blue-900);

   box-shadow: 0 4px 0 #00000030;
   transition: all 0.1s linear;
}

#start-timer-button:active {
   translate: 0 0.2rem;
   box-shadow: none;
}

#reset-timer-button {
   visibility: hidden;
   border: none;
   background: none;
   color: var(--col-blue-900);
}
